{% extends 'base.html' %} {% block content %} {% if object %}
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/0EZ8eeZ.mp4" type="video/webm">
  </video>
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Mission</h1>
{% endif %}
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/0EZ8eeZ.mp4" type="video/webm">
  </video>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}