{% extends 'base.html' %} {% block content %}

<h1>Star Systems</h1>

<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/KpIPLwh.mp4" type="video/webm">
  </video>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ star.name }}</span>
                <p>Type: {{ star.star_type }}</p>
                <p>Mass: {{ star.mass }}</p>
                <p>Diameter: {{ star.diameter }}</p>
                <p>Distance: {{ star.distance }}</p>
                <p>Description: {{ star.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'stars_update' star.id %}">Edit</a>
                <a href="{% url 'stars_delete' star.id %}">Delete</a>
            </div>
        </div>
        <form action="{% url 'add_star_photo' star.id %}" enctype="multipart/form-data" method="POST"
            class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <div class="carousel" id="demo-carousel">
                    {% for photo in star.starphoto_set.all %}
                    <a class="carousel-item img-responsive"><img src="{{photo.url}}"></a>
                    {% empty %}
                    <h1 class="center">Please Add A Photo</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col s6">
        <ul>
            {% for planet in planets %}
            <li>
                <form action="{% url 'add_planet' star.id planet.id %}" method="POST">
                    {{ planet.name }} - {{ planet.planet_type}} &nbsp; &nbsp; <button type="submit">Add</button>
                    {% csrf_token %}
                </form>
            </li>
            {% endfor %}
        </ul>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for planet in star.planet_set.all %}
                <tr>
                    <td>{{planet.name}}</td>
                    <td>{{planet.planet_type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col s6">
        <h3>Missions</h3>
        <form action="{% url 'assoc_star' star.id %}" method="post">
            {% csrf_token %}
            {{ star_mission_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#demo-carousel').carousel();
    })

    const missions = [
        {% for mission in star.missions.all %}
        '{{ mission.id }}', 
        {% endfor %} 
    ];

    missions.forEach(function(m) {
        const selectEl = document.getElementById('id_missions');
        let idx = 0;
        for (let option of selectEl.options) {
            if (missions.includes(option.value)) selectEl.options[idx].selected = true;
            idx++;
        }
    });

    $('#id_missions').material_select();

</script>
{% endblock %}