{% extends 'base.html' %} {% block content %}

<h1>Star Systems</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ star.name }}</span>
                <p>Type: {{ star.star_type }}</p>
                <p>Mass: {{ star.mass }}</p>
                <p>Diameter: {{ star.diameter }}</p>
                <p>Distance: {{ star.distance }}</p>
                <p>Description: {{ star.description }}</p>

            </div>
            <div class="card-action">
                <a href="{% url 'stars_update' star.id %}">Edit</a>
                <a href="{% url 'stars_delete' star.id %}">Delete</a>
            </div>
        </div>

        <div class="col s6">
            <ul>
                {% for planet in planets %}
                <li>
                    {{ planet.name }} 
                    <form action="{% url 'add_planet' star.id planet.id %}" method="POST">
                        {% csrf_token %}
                       <button type="submit">add</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
          <table class="striped">
            <thead>
              <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
              {% for planet in star.planet_set.all %}
                <tr>
                  <td>{{planet.name}}</td>
                  <td>{{planet.planet_type}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col s6">
            <h3>Available Mission</h3>
            {% if missions.count %}
              {% for mission in missions.all %}
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">
                      {{ mission.name }}
                    </span>
                  </div>
                  <div class="card-action">
                    <form action="{% url 'assoc_mission' star.id mission.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn">Add</button>
                    </form>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <h5>{{star.name}} Already Has All Missions Available</h5>
            {% endif %}
          </div>
        </div>
</div>

    {% endblock %}