{% extends 'base.html' %} {% block content %}

<h1>Satellites</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ satellite.name }}</span>
                <p>Type: {{ satellite.satellite_type }}</p>
                <p>Mass: {{ satellite.mass }}</p>
                <p>Diameter: {{ satellite.diameter }}</p>
                <p>Distance: {{ satellite.distance }}</p>
                <p>Description: {{ satellite.description }}</p>

            </div>
            <div class="card-action">
                <a href="{% url 'satellites_update' satellite.id %}">Edit</a>
                <a href="{% url 'satellites_delete' satellite.id %}">Delete</a>
            </div>
        </div>
        <form action="{% url 'add_satellite_photo' satellite.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>

    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <div class="carousel" id="demo-carousel">
                    {% for photo in satellite.satellitephoto_set.all %}
                    <a class="carousel-item img-responsive"><img src="{{photo.url}}"></a>
                    {% empty %}
                    <h1 class="center">No Photos Uploaded</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col s6">
    <h3>Available Mission</h3>
    {% if missions.count %} {% for mission in missions.all %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">
      {{ mission.name }}
    </span>
        </div>
        <div class="card-action">
            <form action="{% url 'assoc_satellite' satellite.id mission.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
            </form>
        </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{satellite.name}} Already Has All Missions Available</h5>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        $('#demo-carousel').carousel();
    })
</script>

</div>{% endblock %}