{% extends 'base.html' %} {% block content %}
<h1 class="center">Satellites</h1>
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/tGkZDDQ.mp4" type="video/webm">
  </video>
<div class="row">
    {% for satellite in satellites %}
    <div class="col s4">
        <a href="{% url 'satellites_detail' satellite.id %}">
            <div class="card">
                <div class="card-image">
                    <div>
                        {% with satellite.satellitephoto_set.all|first as photo %}
                        <img id="small" src="{{photo.url}}">
                        {% endwith %}
                    </div>
                </div>
                <div class="center card-content">
                    <span class="card-title"><strong>{{ satellite.name }}</strong></span>
                    <p>Type: {{ satellite.satellite_type }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %} {% endblock %}