{% extends 'base.html' %} {% block content %}
<h1 class="center">Missions</h1>
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/wGhHygr.mp4" type="video/webm">
  </video>
{% for mission in missions %}
<a href="{% url 'missions_detail' mission.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><strong>{{ mission.name }}</strong></span>
            <p>Type: {{ mission.mission_type }}</p>
        </div>
    </div>
</a>
{% endfor %} {% endblock %}