{% extends 'base.html' %} {% block content %}

<h1 class="about">About Our App</h1>
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/nl40Y8p.mp4" type="video/webm">
  </video>
<h2 class="about">Into Infinity—out of this world!</h2>
<hr>
<p class="about">Created by Team AstroNuts—all of whom are avowed fans of space exploration—this app is made to assist anyone curious about the cosmos. With this app, you can catalog data on stars, planets, moons, and other objects in space, as well as the various missions
    sent to explore them.</p>

{% endblock %}
