{% extends 'base.html' %} {% block content %}

<h1>About SpaceBase</h1>
<video playsinline autoplay muted loop poster="https://i.imgur.com/uKdLtyK.png" id="bgvid">
    <source src="https://i.imgur.com/nl40Y8p.mp4" type="video/webm">
  </video>
<h2>SpaceBase is the place to learn about space!</h2>
<hr>
<p>Created by Team AstroNuts—all of whom are avowed fans of space—this app is made to assist anyone curious to learn about exploring the cosmos. With this app, you can catalog data on stars, planets, moons, other objects in space, and the various missions sent to explore them.</p>

{% endblock %}