{% extends 'base.html' %} {% block content %}
<h1 class="center">Planets</h1>
<div class="row">
    {% for planet in planets %}
    <div class="col s4">
        <a href="{% url 'planets_detail' planet.id %}">
            <div class="card">
                <div class="card-image">
                    <div>
                        {% with planet.planetphoto_set.all|first as photo %}
                        <img id="small" src="{{photo.url}}">
                        {% endwith %}
                    </div>
                </div>
                <div class="center card-content">
                    <span class="card-title"><strong>{{ planet.name }}</strong></span>
                    <p>Type: {{ planet.planet_type }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %} {% endblock %}